<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- argument to specify urdf or xacro model -->
  <arg name="model" default="$(find se2c_rgbdw_slam)/urdf/my_robo.xacro"/>

  <!-- parameter for urdf/xacro model -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="rate" value="1000"/>

  <!-- publish tf information from urdf/xacro model. -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>

